@import url('https://fonts.googleapis.com/css?family=Lato');

#app,
body,
html {
  font-family: 'Lato', sans-serif;
  background-color: #17785B;

  @media print {
    overflow: auto  !important;
    height: auto; 
  }
}

.application--wrap {
  height: 100vh;
  padding: 40px 80px 0px 80px;
}

.title {
  font-size: 48px;
  font-weight: 800;
  color: #EFEF5F;
}

.sub-title {
  font-size: 24px;
  font-weight: 800;
  color: #FFF; 
}

.error-text {
  font-size: 16px;
  color: rgb(233, 233, 233); 
}

.accent-text {
  font-size: 20px;
  color: #EFEF5F; 
  font-weight: 600;
}

input {
  height: 34px;
}

button {
  border: 1px #17785B solid;
  background-color: #0EBC76;
  padding: 10px 18px;
  font-size: 16px;
  color: #fff;
}